<template>
  <div>
    <navigation-bar v-if="isLoggedIn"></navigation-bar>
    <menu-bar v-if="isLoggedIn"></menu-bar>
    <router-view></router-view>
    <my-footer v-if="isLoggedIn"></my-footer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { NavigationBar, MenuBar, Footer } from './shared'

@Component({
  components: {
    'navigation-bar': NavigationBar,
    'menu-bar': MenuBar,
    'my-footer': Footer
  },
  watch: {
    $route(to, from) {
      this.bodyClass()
    }
  }
})
export default class App extends Vue {
  created() {
    this.bodyClass()
  }

  get isLoggedIn() {
    return this.$store.getters.isLoggedIn
  }

  bodyClass() {
    const body = document.body
    const classList = body.classList
    if (this.isLoggedIn) {
      body.setAttribute('data-col', '2-columns')
      classList.remove('bg-cyan')
      classList.remove('bg-lighten-2')
      classList.remove('blank-page')
      classList.add('menu-expanded')
      classList.add('fixed-navbar')
    } else {
      body.setAttribute('data-col', '1-column')
      classList.add('bg-cyan')
      classList.add('bg-lighten-2')
      classList.add('blank-page')
      classList.remove('menu-expanded')
      classList.remove('fixed-navbar')
    }
  }
}
</script>
