.form-simple {
    input[type='text'] {
        margin-bottom: -1px;

        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    input[type='email'] {
        margin-bottom: -1px;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    input[type='password'] {
        margin-bottom: 10px;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.help-block ul {
    margin: 0  !important;
    padding: 0 !important;

    li {
        list-style: none;
    }
}
