<template>
  <section id="add-patient">
    <div class="icon-tabs">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Add Patient</h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form class="add-patient-tabs steps-validation wizard-notification">
                  <!-- step 1 => Personal Details -->
                  <h6>
                    <i class="step-icon la la-user font-medium-3">
                    </i>
                    Personal Details
                  </h6>
                  <fieldset>
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <label for="firstName">
                            First Name: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="firstName" name="firstname" type="text"/>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <label for="middleName">
                            Middle Name: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="middleName" name="middlename" type="text"/>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <label for="lastName">
                            Last Name: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="lastName" name="lastname" type="text"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                          <label for="address">
                            Address: <span class="danger">*</span>
                          </label>
                          <textarea class="form-control required" id="address" name="address" type="text">
                          </textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                          <label for="email">
                            Email: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="email" name="email" type="email"/>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                          <label for="contact">
                            Contact: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="contact" name="contact" type="number"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                          <label for="gender">
                            Gender: <span class="danger">*</span>
                          </label>
                          <select class="custom-select required" id="gender" name="gender" >
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                          <label for="age">
                            Age: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="age" name="age" type="number"/>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                          <label for="dob">
                            Date Of Birth: <span class="danger">*</span>
                          </label>
                          <input class="form-control required" id="dob" name="birthdate" type="date" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                          <label for="birthplace">
                            Place Of Birth: <span class="danger">*</span>
                          </label>
                          <textarea class="form-control required" id="birthplace" name="birthplace" type="text">
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <!-- Step 2 => Emergency Details-->
                  <h6>
                    <i class="step-icon la la-ambulance font-medium-3">
                    </i>
                    In Case Of Emergency
                  </h6>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="fnemergency">
                            First Name:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control" id="fnemergency" name="fnemergency" required="" type="text" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="lnemergency">
                            Last Name:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control" id="lnemergency" name="lnemergency" required="" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="relation">
                            Relation:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control" id="relation" name="relation" required="" type="text" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="relativeadd">
                            Address:
                          </label>
                          <input class="form-control" id="relativeadd" name="relativeadd" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="cn">
                            Contact Number:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control" id="cn" name="cn" required="" type="number" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="alternate">
                            Alternate Number:
                          </label>
                          <input class="form-control" id="alternate" name="alternate" type="text" />
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <!-- Step 3 => Symptoms -->
                  <h6>
                    <i class="step-icon font-medium-3 ft-thermometer">
                    </i>
                    Symptoms
                  </h6>
                  <fieldset>
                    <div class="row icheck_minimal skin">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>
                            Has patient ever visited before:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <span class="option-y">
                            Yes
                          </span>
                          <input checked="" id="previousvisit" name="previousvisit" required="" type="radio">
                            <span class="option-n">
                              No
                            </span>
                            <input id="previousvisit1" name="previousvisit" required="" type="radio" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="symptoms">
                            Which Symptoms is patient facing ?
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control" id="symptoms" name="symptoms" required="" type="text" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="since">
                            Since when patient is facing this problem?
                          </label>
                          <input class="form-control" id="since" name="since" required="" type="date" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="history">
                            History With Diseases
                          </label>
                          <textarea class="form-control" cols="10" id="history" name="history" rows="2">
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <!-- Step 4 => Insaurance Details -->
                  <h6>
                    <i class="step-icon font-medium-3 ft-file-text">
                    </i>
                    Insaurance Details
                  </h6>
                  <fieldset>
                    <div class="row icheck_minimal skin">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="pr-1">
                            Does patient has an insaurance:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <span class="option-y">
                            Yes
                          </span>
                          <input checked="" class="icheck-checkbox" id="ins-yes" name="ins" required="" type="radio" />
                            <span class="option-n">
                              No
                            </span>
                          <input class="icheck-checkbox" id="ins-no" name="ins" required="" type="radio" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="company">
                            Name Of Insaurance Company:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control required" id="company" name="degree" required="" type="text" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="card">
                            Insaurance Number:
                            <span class="danger">
                              *
                            </span>
                          </label>
                          <input class="form-control required" id="card" name="card" type="number" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="amount">
                            Amount Of Insaurance:
                          </label>
                          <input class="form-control" id="amount" type="number" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="expirydate">
                            Expiry Date:
                          </label>
                          <input class="form-control" id="expirydate" name="expirydate" type="date" />
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import Swal from 'sweetalert2'
import { reduce } from 'lodash'
import { Component, Prop } from 'vue-property-decorator'
import ScriptLoader from '@core/script-loader'
import { Patient } from './interface'

declare var $: any

@Component({})
export default class AddPatient extends Vue {
  patient: Patient

  mounted() {
    const form = $('.steps-validation').show()
    form.steps({
      headerTag: 'h6',
      bodyTag: 'fieldset',
      transitionEffect: 'fade',
      titleTemplate: '<span class="step">#index#</span> #title#',
      labels: {
        finish: 'Submit'
      },
      // onStepChanging: function (event, currentIndex, newIndex) {
      //   // Allways allow previous action even if the current form is not valid!
      //   if (currentIndex > newIndex) {
      //     return true;
      //   }
      //   // Forbid next action on 'Warning' step if the user is too young
      //   if (newIndex === 3 && Number($('#age-2').val()) < 18) {
      //     return false;
      //   }
      //   // Needed in some cases if the user went back (clean up)
      //   if (currentIndex < newIndex) {
      //     // To remove error styles
      //     form.find('.body:eq(' + newIndex + ') label.error').remove();
      //     form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
      //   }
      //   form.validate().settings.ignore = ':disabled,:hidden';
      //   return form.valid();
      // },
      // onFinishing: function (event, currentIndex) {
      //   form.validate().settings.ignore = ':disabled';
      //   return form.valid();
      // },
      onFinished: (event, currentIndex) => {
        // Since jquery.steps is interferring the html nodes, v-model is not working
        const fields = form.serializeArray()
        this.patient = reduce(fields, (result, field, key) => {
          result[field.name] = field.value
          return result
        }, {})
        this.addPatient()
      }
    })

    // $(".steps-validation").validate({
    //   ignore: 'input[type=hidden]', // ignore hidden fields
    //   errorClass: 'danger',
    //   successClass: 'success',
    //   highlight: function (element, errorClass) {
    //     $(element).removeClass(errorClass);
    //   },
    //   unhighlight: function (element, errorClass) {
    //     $(element).removeClass(errorClass);
    //   },
    //   errorPlacement: function (error, element) {
    //     error.insertAfter(element);
    //   },
    //   rules: {
    //     email: {
    //       email: true
    //     }
    //   }
    // })

    $('.icheck_minimal input').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    })
  }

  addPatient() {
    axios.post('/api/patients', this.patient).then((patient: {data: Patient}) => {
      console.log(patient.data)
      Swal.fire({
        title: 'Patient Saved!',
        type: 'success',
        html: `Patient saved successfully. You will be redirected to patients list after confirming.`
      }).then(() => {
        this.$router.push('/patients')
      })
    })
  }
}
</script>

<style lang="scss" scoped>
#add-patient {
  .option-y {
    padding-right: 5px;
  }

  .option-n {
    margin-left: 5px;
    padding-right: 5px;
  }
}
</style>
