<template>
  <section id="patients-list">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Patients List</h2>
            <div class="heading-elements">
              <router-link to="/patients/new" class="btn btn-danger round btn-sm">
                <i class="la la-plus font-small-2"></i> Add Patient
              </router-link>
            </div>
          </div>
          <div class="card-body collapse show">
            <div v-if="this.patients === null">Loading..</div>
            <div class="table-responsive" v-else>
              <table class="table table-striped table-bordered patients-list">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Disease</th>
                    <th>Location</th>
                    <th>Age</th>
                    <th>Previous Visit</th>
                    <th>Amount Due</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(patient, index) in patients" v-bind:key="index">
                    <td>{{patient.firstname}} {{patient.lastname}}</td>
                    <td>Dental</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.age}}</td>
                    <td>2018/04/25</td>
                    <td>$1000</td>
                    <td><a href="#"><i class="ft-edit text-success"></i></a>
                      <a href="#"><i class="ft-trash-2 ml-1 text-warning"></i></a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Disease</th>
                    <th>Location</th>
                    <th>Age</th>
                    <th>Previous Visit</th>
                    <th>Amount Due</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import { Component, Prop } from 'vue-property-decorator'
import { PatientList } from './interface'
import { setTimeout } from 'timers'

declare var $: any

@Component({})
export default class PatientsHome extends Vue {
  patients: PatientList[] = null

  mounted() {
    axios.get('/api/patients').then((patients: {data: PatientList[]}) => {
      this.patients = patients.data
      this.$nextTick(() => {
        $('.patients-list').DataTable()
      })
    })
  }
}
</script>
