<template>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-sm-6 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                  <div class="card-title text-center">
                    <div class="p-1">
                      <img src="app-assets/images/logo/logo-dark.png" alt="branding logo">
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
                    <span>Account Details</span>
                  </p>
                  <div class="card-body pt-0">
                    <div v-if="registeredUser" class="text-success">Thank you {{registeredUser.name}}.You can now login</div>
                    <form class="form-horizontal" @submit.prevent="login">
                      <div class="form-group row" v-if="authError">
                        <p class="error">{{authError}}</p>
                      </div>
                      <fieldset class="form-group floating-label-form-group">
                        <label for="user-name">Your Username</label>
                        <input type="text" class="form-control" id="user-name" placeholder="Your Username"
                               name="email"
                               v-validate="'required|email'"
                               v-model="user.email">
                      </fieldset>
                      <fieldset class="form-group floating-label-form-group mb-1">
                        <label for="user-password">Enter Password</label>
                        <input type="password" class="form-control" id="user-password" placeholder="Enter Password"
                               name="password"
                               v-validate="'required|min:6'"
                               v-model="user.password">
                      </fieldset>
                      <div class="form-group row">
                        <div class="col-md-6 col-12 text-center text-sm-left">
                          <fieldset>
                            <input type="checkbox" id="remember-me" class="chk-remember"
                                   v-model="user.remember">
                            <label for="remember-me"> Remember Me</label>
                          </fieldset>
                        </div>
                        <div class="col-md-6 col-12 float-sm-left text-center text-sm-right">
                          <router-link to="/recover" class="card-link">Forgot Password?</router-link>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-outline-info btn-block">
                        <i class="ft-unlock"></i> Login
                      </button>
                    </form>
                  </div>
                  <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                    <span>New to Modern ?</span>
                  </p>
                  <div class="card-body">
                    <router-link to="/register" class="btn btn-outline-danger btn-block">
                      <i class="ft-user"></i> Register
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { login } from '@core/helpers'

@Component({})
export default class Login extends Vue {

  user = {
    email: '',
    password: '',
    remember: false,
  }

  login() {
    this.$store.dispatch('login');
    this.$validator.validateAll().then(result => {
      if (result) {
        login(this.$data.user)
          .then(res => {
            this.$store.commit('loginSuccess', res);
            this.$router.push({path: '/'});
          })
          .catch(error => {
            this.$store.commit('loginFailed', { error });
          })
      } else {
        this.$store.commit('loginFailed', { error: 'Invalid information!' });
      }
    })
  }

  get authError() {
    return this.$store.getters.authError;
  }

  get registeredUser() {
    return this.$store.getters.registeredUser;
  }
}
</script>

<style lang="scss" scoped>
  @import "~@/sass/login-register"
</style>
