<template>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-sm-6 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                  <div class="card-title text-center">
                    <div class="p-1">
                      <img src="app-assets/images/logo/logo-dark.png" alt="branding logo">
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
                    <span>Account Details</span>
                  </p>
                  <div class="card-body pt-0">
                    <form class="form-horizontal" @submit.prevent="register">
                      <fieldset class="form-group floating-label-form-group">
                        <label for="full-name">Full Name</label>
                        <input type="text" class="form-control" id="full-name" placeholder="Full Name"
                               v-model="user.name">
                      </fieldset>
                      <fieldset class="form-group floating-label-form-group">
                        <label for="user-email">Email Address</label>
                        <input type="email" class="form-control" id="user-email" placeholder="Your Email Address"
                               v-model="user.email">
                      </fieldset>
                      <fieldset class="form-group floating-label-form-group">
                        <label for="user-password">Enter Password</label>
                        <input type="password" class="form-control" id="user-password" placeholder="Enter Password"
                               v-model="user.password">
                      </fieldset>
                      <button type="submit" class="btn btn-outline-info btn-block"><i class="ft-user"></i> Register</button>
                    </form>
                  </div>
                  <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                    <span>Already have an account ?</span>
                  </p>
                  <div class="card-body">
                    <router-link to="/login" class="btn btn-outline-danger btn-block">
                      <i class="ft-unlock"></i> Login
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component({})
export default class Register extends Vue {

  user = {
    name: '',
    email: '',
    password: '',
  }

  register() { }
}
</script>

<style lang="scss" scoped>
  @import "~@/sass/login-register"
</style>
