<template>
  <div class="row breadcrumbs-top">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/">Home</router-link>
        </li>
        <li class="breadcrumb-item" v-for="item in items" :class="{ active: item.active }">
          <template v-if="item.active">{{item.title}}</template>
          <router-link :to="item.link" v-else>{{item.title}}</router-link>
        </li>
      </ol>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component({})
export default class Breadcrum extends Vue {
  @Prop() items
}
</script>
