<template>
  <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border" data-scroll-to-active="true">
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li v-for="(menu, index) in menus" v-bind:key="index" :class="menu.class ? menu.class : 'nav-item'">
          <menu-parent v-if="menu.parent" :menu="menu.parent"></menu-parent>
          <menu-content v-if="menu.children" :menus="menu.children"></menu-content>
          <menu-panel v-if="menu.panel" :panel="menu.panel"></menu-panel>
          <menu-tooltip v-if="menu.tooltip" :tooltip="menu.tooltip"></menu-tooltip>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import {
  MenuContent,
  MenuTooltip,
  MenuPanel,
  MenuParent
} from './menu'

@Component({
  components: {
    'menu-content': MenuContent,
    'menu-tooltip': MenuTooltip,
    'menu-panel': MenuPanel,
    'menu-parent': MenuParent,
  }
})
export default class MenuBar extends Vue {

  menus = [
    {
      class: 'navigation-header',
      panel: {
        i18n: '',
        title: 'Admin Panels',
      }
    },
    {
      parent: {
        title: 'Dashboard',
        i18n: '',
        link: '/',
        icon: 'la-home',
      }
    },
    {
      parent: {
        title: 'Patient',
        i18n: '',
        link: '#',
        icon: 'la-users',
        badge: 3
      },
      children: [
        {
          title: 'Add new patient',
          link: '/patients/new',
          i18n: '',
        },
        {
          title: 'Patient List',
          link: '/patients/',
          i18n: '',
        },
      ]
    },
    {
      parent: {
        title: 'Templates',
        i18n: 'nav.templates.main',
        link: '#',
        icon: 'la-television',
      },
      children: [
        {
          title: 'Vertical',
          link: '#',
          i18n: 'nav.templates.vert.main',
          children: [
            {
              title: 'Classic Menu',
              link: '../vertical-menu-template',
              i18n: 'nav.templates.vert.classic_menu',
            },
            {
              title: 'Modern Menu',
              link: '../vertical-modern-menu-template',
              i18n: 'nav.templates.vert.modern_menu',
            },
            {
              title: 'Compact Menu',
              link: '../vertical-compact-menu-template',
              i18n: 'nav.templates.vert.compact_menu',
            },
            {
              title: 'Content Menu',
              link: '../vertical-content-menu-template',
              i18n: 'nav.templates.vert.content_menu',
            },
            {
              title: 'Overlay Menu',
              link: '../vertical-overlay-menu-template',
              i18n: 'nav.templates.vert.overlay_menu',
            },
          ]
        },
        {
          title: 'Horizontal',
          link: '#',
          i18n: 'nav.templates.horz.main',
          children: [
            {
              title: 'Classic',
              link: '../vertical-menu-template',
              i18n: 'nav.templates.horz.classic',
            },
            {
              title: 'Full Width',
              link: '../vertical-menu-template-nav',
              i18n: 'nav.templates.horz.top_icon',
            },
          ]
        },
      ]
    },
  ]

  mounted() {
    $(window).trigger('load')
  }
}
</script>
