<template>
  <i class="la la-ellipsis-h ft-minus"
     :data-toggle="tooltip.toggle"
     :data-placement="tooltip.placement"
     :data-original-title="tooltip['original-title']">
  </i>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component({})
export default class MenuTooltip extends Vue {
  @Prop() tooltip: {
    toggle: string,
    placement: string,
    'original-title': string
  }
}
</script>
