<template>
  <span :data-i18n="panel.i18n">{{panel.title}}</span>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component({})
export default class MenuPanel extends Vue {
  @Prop() panel
}
</script>
