<template>
  <ul class="menu-content">
    <li v-for="menu in menus">
      <router-link :to="menu.link" :data-i18n="menu.i18n" class="menu-item">
        {{menu.title}}
      </router-link>
      <MenuContent v-if="menu.children"
                   :menus="menu.children">
      </MenuContent>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component({})
export default class MenuContent extends Vue {
  @Prop() menus
}
</script>
