<template>
  <router-link :to="menu.link">
    <i class="la" :class="menu.icon"></i>
    <span class="menu-title" :data-i18n="menu.i18n" v-html="menu.title"></span>
    <span class="badge badge badge-info badge-pill float-right mr-2"
          v-if="menu.badge">
      {{menu.badge}}
    </span>
  </router-link>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component({})
export default class MenuParent extends Vue {
  @Prop() menu
}
</script>
